/* External CSS File */

input, textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Segoe UI', sans-serif;
  }
  
  button:hover {
    background-color: #0d3f2a;
    cursor: pointer;
  }